/* Colores de los escenarios
A: #A00057
B: #488CCB
C: #8C5EC5
D: #A99173
*/

.superHeader{
	position: fixed;
	width: 100%;
	background: #484848;
	height: 40px;
	padding: 5px;
	z-index:1;
}

.z-button-header {
    /* normal style */
 	background: transparent;
 	border: none;
 	font-size: 22px! important;
 	color: white;
 	/* height: 0; */

    /* hover style */
    &:hover {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
    }
    /* focus style */
    &:focus {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
    
    }
    /* active style */
    &:active {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
    }
    /* disabled style */
    &[disabled] {
    background: transparent !important;
    border-color: transparent !important;
	box-shadow: none!important;    
    }
    /* visited style */
    &:visited {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
    }
}

.z-button-header:hover {
	background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white;
}
.z-button-header:active {
	background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white;
}
.z-button-header:focus {
	background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white;
}

.z-button-header[disabled]{
	background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;    
}

.textoCabecera{
    font-size: 22px!important; /*18px!important;*/
    font-weight: 600!important;
}


.tituloSuperHeader{
	color:  white; /*#F8EEF6;*/
	font-size: 17px !important;
    font-weight: bolder!important;
    margin-top: 3px;	
}

.incPaginaPrincipal{
	padding-top: 100px;
	width: 1200px;
	margin: 0 auto;
	background: #F2F2F2;
}

.header {
	background: rgb(61, 184, 219) !important; /*#F8EEF6;*/
    height:60px;
    line-height: 60px!important; /* misma altura que el header */
    top: 40px;
    font-size: 24px;
    
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header .z-div{
	line-height: 60px;  /* misma altura que el header */
}

.tituloHeader{
	font-size: 30px!important;
/*	color: white;*/
	font-weight: bold;
	margin-left: 50px;
}

.subheader{
	background: white;
    height:40px;
    line-height: 40px!important; /* misma altura que el subheader */
    border-bottom: 1px solid #ADADAD;
	position: absolute;
	width: 100%;
	top: 100px; /* suma de heights de superheader + header */
	position: fixed;
}

.opcionComite {
	background: #f8eef6;
	padding: 5px;
	cursor: pointer;
}

.incPrincipalComite {
    padding-top: 100px;
    background: #F2F2F2;
}

.opcionComiteSeleccionada {
	background: rgb(145, 47, 87);
	padding: 5px;
	cursor: pointer;
	color: white;
}

.bold {
	font-weight: bold !important;
}

.marginTop {
	margin-top: 20px;
}
.marginTop2 {
	margin-top: 40px;
}
.marginLeft {
	margin-left: 20px;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

.cabeceraGrid {
    color: #0b968b;
    float: left;
    font-size: 11px;
    margin-right: 3px;
    padding-left: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.modalWindow {
	padding: 20px;
}

.sessionheader {
	background: #efe5ed !important;
    height:60px;
    border-bottom: 1px solid #FFFFFF;
    line-height: 60px;

	position: absolute;
	width: 100%;
	top: 40px;
}
.patientheader {
	background: #F8EEF6 !important;
    top: 40px;
    border-bottom: 1px solid #CCC;
    /*line-height: 80px;
    height:80px;*/
    font-size: 24px;
    
    position: fixed;
    width: 100%;
    z-index: 1;
   
}

.fondoTimelineCabecera {
	background-image: url(../img/fondo_timeline_cabecera.png);
	background-repeat: no-repeat;
	background-position-x: 130px;
	height: 35px;
	padding-left: 100px;
    padding-top: 10px;
}
.fondoTimeline {
	background-image: url(../img/fondo_timeline.png);
	background-repeat: no-repeat;
	background-position-x: 130px;
	height: 85px;
	/*width: 210px;*/
	width: 100%;
	padding-left: 50px;
    padding-top: 20px;
    cursor: pointer;
}
.fondoTimeline:hover {
	/*background-image: url(../img/fondo_timeline.png);
	background-color: rgba(73, 33, 57, 0.5);
	background:  rgb(73, 33, 57);*/
	background-image: url(../img/fondo_timeline_seleccionado.png);
	background-repeat:repeat-x;
	height: 85px;
	width: 100%;
	padding-left: 50px;
    padding-top: 20px;
}
.fondoTimelineSeleccionada {
	background-image: url(../img/fondo_timeline_seleccionado.png);
	background-repeat:repeat-x;
	height: 85px;
	width: 100%;
	padding-left: 50px;
    padding-top: 20px;
}

.saltoLinea {
	clear: both;
}

.textoCentrado {
	text-align: center;
}

.statusTimeline {
	color: rgb(61, 184, 219);
}

.contenedor {
	padding: 20px;
}

.contenedorDatos {
	padding: 20px;
	/*background: rgb(223, 241, 244);*/
	background: rgb(239, 248, 250);
}

.z-button-startSession {
	background: rgba(61, 184, 219, 0.8) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	height: 40px;
/*    width: 150px;*/
    color: white;
}
.z-button-startSession:hover {
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white;
}
.z-button-startSession:active {
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white;
}
.z-button-startSession:focus {
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white;
}
.z-button-startSession[disabled]{
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;
    color: white;    
}

.z-button-comite {
	background: rgba(61, 184, 219, 0.8) !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: white !important;
}
.z-button-comite:hover {
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white !important;
}
.z-button-comite:active {
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white !important;
}
.z-button-comite:focus {
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	color: white !important;
}
.z-button-comite[disabled]{
	background: rgb(61, 184, 219) !important;
    border-color: transparent !important;
    box-shadow: none!important;
    color: white !important;
}


.z-button-cancel {
	background: white !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(153, 153, 153) !important;
}
.z-button-cancel:hover {
	background: white !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(153, 153, 153) !important;
}
.z-button-cancel:active {
	background: white !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(153, 153, 153) !important;
}
.z-button-cancel:focus {
	background: white !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(153, 153, 153) !important;
}
.z-button-cancel[disabled]{
	background: white !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(153, 153, 153) !important;
}


.z-button-latestActivity {
	background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(61, 184, 219);
	font-size: 20px;
	height: 0;
	margin-left: -10px;
    margin-top: -5px;
}
.z-button-latestActivity[disabled] {
	background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
	color: rgb(61, 184, 219);
	font-size: 20px;
	height: 0;
}


.listboxPatients{
	width: 100%;	
}


.listboxPatients .z-listbox{
	border: none!important;
}


.listboxPatients .z-listbox-header{
 	background: none;
 }
 
.listboxPatients .z-listhead{
	background: none!important;
}

.listboxPatients .z-listheader{
	background: none!important;
	border-bottom: 1px solid #cfcfcf;
}

.listboxPatients .z-listhead-bar{
	border: none;
}

.listboxPatients .z-listheader-content{
	font-size: 10px!important;
}

.listboxPatients .z-listcell-content{
	font-size: 14px!important;
	height: 40px;
	line-height: 40px;
	color: #000;
}

.listboxPatients .z-listitem{
	height: 50px;
}

.listboxPatients .z-listitem .z-listcell {
	border: none;
}

.listboxPatients .z-listitem:hover{
	background: #d5e4ea;/*#F8EEF6;*/
}

.listboxPatients .z-listitem:hover>.z-listcell{
	background: #d5e4ea;/*#F8EEF6;*/
}

.listboxPatients .z-listitem.z-listitem-selected>.z-listcell>.z-listcell-content {
    color: #000!important;
}

.listboxPatients-odd{
	background: #f2f2f2;
}

.comboComite .z-combobox-input {
    color: #666;
    font-size: 15px !important;
}
.comboComite .z-comboitem-text {
	color: #666 !important;
}


/**/
.opcionesTripleSelec {
	background: #492139 none repeat scroll 0 0;
    padding: 7px;
    color: white;
    margin-right: 5px;
}
.opcionesTriple {
	background: transparent none repeat scroll 0 0;
    padding: 7px;
    cursor: pointer;
    margin-right: 5px;
}

.divSesiones{
	background: white;
	box-shadow: 3px 3px 1px #cecaca;
	width: 400px;
	padding: 20px;
}

.divPacientes{
	background: white;
	box-shadow: 3px 3px 1px #cecaca;
	padding: 20px;
	margin-top: 50px;
}
.divNoSesion{
	text-align: center;
	margin-top: 10%;
/*	display: table;*/	
}

.datoCabecera{
	font-size: 16px!important;
	font-weight: bold!important; 	
}
.margin-right{
	margin-right: 30px!important;
}
.enunciadoCabecera{
	font-size: 14px; 
	margin-right: 10px;
}
.evaluatedCabecera{
	font-size: 20px; 
	color: #b5b4b4; 
}
.botonSubheader{
	font-size: 16px!important;
	font-weight: bold!important; 
	margin-right: 35px; 
	cursor: pointer;
}
.botonSubheaderSeleccionado{
	color:#3db8db;
	border-bottom: 4px solid #3db8db!important;
}
.puntoSubheader{
	font-size: 20px; 
	color: black; 
	margin-right: 10px;
}
.colorFondo{
	background-color: #F2F2F2;
}

.textoAzul{
	color: #3DB8DB;
}
.centrarFechas{
	text-align: center;
}

.linkPrevious{
	color: white;
	cursor: pointer;
}
.separar{
	margin: 20px;
}

.menuLateralComite{
	width: 600px;
	background: #f2f2f2;
	box-shadow: -3px 3px 1px #959595;
	position: fixed;
	top: 40px;
	right:0px;
	z-index: 1000;
}

.cabeceraMenuLateral{
	background: #3D3D3D;
	color: white;
	line-height: 30px!important;
	padding-left: 20px;
	padding-right: 20px;
}

.cabeceraMenuLateral .botonera{
	float: right;
	margin-right: 10px;
	line-height: initial;
}

.cuerpoMenuLateral{
	padding: 20px;
}

.acordeonLateralComite{
    margin: 0 auto;
    margin-top: 10px;
	box-shadow: 3px 3px 1px #cecaca;    
}

.acordeonSearch-header {
	background: #3D3D3D;
    cursor: pointer;
}

.acordeonLateralComite .z-groupbox-header{
	background: #3D3D3D;
	color: white;	
	border: none;
}
.acordeonLateralComite .z-caption{
	padding-right: 0!important;
}

.acordeonLateralComite .z-groupbox>.z-groupbox-header .z-caption{
	padding-right: 0!important;
}
.acordeonLateralComite .z-button{
  	/* normal style */
 	background: transparent;
 	border: none;
 	font-size: 15px; 
 	height: 0;
 	color: #3DB8DB;

    /* hover style */
    &:hover {
    background: transparent !important;
    border-color: transparent !important;    
    }
    /* focus style */
    &:focus {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;
    }
    /* active style */
    &:active {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;    
	}
    /* disabled style */
    &[disabled] {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none!important;    
    }
}

.acordeonLateralComite .z-caption{
	padding: 0;
}
	
.acordeonLateralComite .z-caption>*:first-child {
    margin-left: -14px!important;
    width: 102%!important;	
}

.acordeonLateralComite .z-caption-content{
	background: #484848;
	color: white;		
	width: 100%;
}

.acordeonLateralComite .z-label{
	display: inline;
}

.menuLateralComite .botonera{
	float: right;
	margin-right: 10px;
	line-height: 30px;
 	cursor: pointer;
}

/******************* Ventana modal ***************/

/*
.miModal{
	margin: 0 auto;	
	width: 50%;
	height: 50%!important;
	top: 20%;
}
*/

.miModal .titulo{
	font-size: 38px;
}

.miModal .modal-body{
/*	background: #F2F2F2;*/
}

.miModal .modal-footer{
	text-align: left;
}

.miModal .combo{
/*	width: 152px;*/
}

.divAddEditModal{
	padding: 10px;
	background: #F2F2F2;
}

.divAddEditModal .z-combobox, .divAddEditModal .z-textbox{
	margin-right: 30px;
}

.btn-add-history{
	background: rgba(61, 184, 219, 0.8) !important;
    border-color: transparent !important;
    box-shadow: none!important;
    color: white!important;
    margin-top: 20px;    
}

.z-button-table {
    /* normal style */
 	background: transparent;
 	border: none;
 	font-size: 12px !important;
 	height: 0;
 	color: rgba(61, 184, 219, 0.8) !important;

    /* hover style */
    &:hover {
    }
    /* focus style */
    &:focus {
    }
    /* active style */
    &:active {
    }
    /* disabled style */
    &[disabled] {
    background: transparent !important;
    border-color: transparent !important;
    }
}

.editListbox{
	cursor:pointer;
	font-size: 14px;
	color:rgb(61, 184, 219) !important; 
}


.formuPaciente{
	padding: 10px;
	background: #F2F2F2;
}



