.flotarDerecha{
	float:right;
}

.z-button-table {
    /* normal style */
 	background: transparent;
 	border: none;
 	font-size: 12px !important;
 	height: 0;
 	color: rgba(61, 184, 219, 0.8) !important;

    /* hover style */
    &:hover {
    }
    /* focus style */
    &:focus {
    }
    /* active style */
    &:active {
    }
    /* disabled style */
    &[disabled] {
    background: transparent !important;
    border-color: transparent !important;
    }
}

.gridSinNada .z-button [class*="z-icon-"]{
	color: #3DB8D7!important;
}	
	
/***  GENERAL DATA ***************************/

.contenedorFila{
  	display:flex;
	flex-direction:row;
	width: 99%; 
	justify-content: space-around;
	flex-wrap: wrap;
 }

.contenedorFilaIzquierda{
	align-content: stretch;
  	display:flex;
	flex-direction:row;
	width: 100%; 
 }

.contenedorFilaIzquierda .z-div{
	margin-right: 10px;	
}

.patientFileBox{
	flex: 1;
	background: white!important;
	padding: 10px;
}

.labelForm{
 	padding-top: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
    padding-left: 10px;
}

.patientFileGyna{
	flex: 1;
	background: white!important;
	padding: 10px;
}

.patientFileGyna .z-label{
	padding-top: 15px;
}

.medicalSurgical{
	padding: 10px;
	padding-left: 7%;
    padding-right: 7%;	
}

.medicalSurgical *{
	margin-bottom: 10px;
}

.familyHistoryBox{
/*	flex:1;*/
	background: white!important;
	padding: 10px;
}

.ocuparTodo{
	flex:1;	
}

.ocuparMitad{
	flex: 0.5;
}

.ocuparMitad:first-child{
		margin-right: 10px;
}

.ocuparTercio{
	flex: 0.3333;	
}

/***  PERSONAL AND FAMILY HISTORY ************/
.columnHistory{
	padding: 10px;
}

.historiesBox{
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
}

.historiesHeader{
/*	background:#969999;*/
	background:#F2F2F2;
	color: black;
	height: 25px;
	padding-left: 15px;
}

.historiesHeader label{
	background:#969999;
	color: white;
	margin-top: 5px;
}

.historiesHeader button, .historiesHeader button:hover{
	border: none;
	background:#969999;
	color: white;	
}

.lista .z-listheader-content{
	font-size: 12px!important; /*10px!important;*/
	background: white!important;
	font-size: 12px;
    color: #666666;
    font-weight: bold;
}

.lista .z-listheader{
	background: none!important;
	border: none;
}

.lista .z-combobox-input, .lista .z-textbox{
	font-size: 16px!important;
	color: #000000;
	font-weight: initial;
}

.lista .z-listbox-odd{
	background:white;	
}

.lista .z-listbox:hover{ /*-odd:not([class="sinFondo"]){*/
	background:white;	
}



/*** RISK FACTORS ********************/

.padding30{
	padding-right: 30px;
}


/* Sobreescrito de views  */
.contenidoh3{
	padding-left: 5%;
	padding-right: 5%;
}

.contenedor{
	display: flex;
	justify-content: space-between;
}

.contenedorCol{
	display: flex;
	justify-content: space-around;
	flex:wrap;
	align-content: space-around;
	
}


 .acordeonBlue{
 	background: rgb(239, 248, 250)!important;
 }
 
.formulario{
  	text-align: right; 
	width:100%;
	margin-bottom: 20px;
}

.formulario *{
	text-align: right;
}

/*
.formulario .z-textbox{
	 margin-left: 17px;
}
*/
/*******************************/
.textbox-num{
	text-align: right;
	width: 50px;
}
.btn-add-history{
	background: rgba(61, 184, 219, 0.8) !important;
    border-color: transparent !important;
    box-shadow: none!important;
    color: white!important;
    margin-top: 20px;    
}

.editAddHistory1{
	background: #F2F2F2;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.editAddHistory2{
	background: #F2F2F2;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.editAddHistory3{
	background: #F2F2F2;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.alinearIzquierda{
	text-align: left;
}

.tituloGridImportante{
	font-size: 14px!important;
    color: #666666!important;
    font-weight: bold!important;
}

.tituloGrid{
	font-size: 12px!important;
    color: #666666!important;
    font-weight: bold!important;
}


.textYesColor{
/*	color: green!important;*/
	font-weight: bold;
}
.textDefaultColor{
	color: #949494!important;
	font-weight: normal;
}

.newHistoryLink{
	color: rgb(61, 184, 219);
	cursor: pointer;
	font-size: 14px!important;
}

.z-combobox{
	margin-right: 0px;
}

/******************* Ventana modal ***************/

/*
.miModal{
	margin: 0 auto;	
	width: 50%;
	height: 50%!important;
	top: 20%;
}
*/

.miModal .titulo{
	font-size: 38px;
}

.miModal .modal-body{
/*	background: #F2F2F2;*/
}

.miModal .modal-footer{
	text-align: left;
}

.miModal .combo{
/*	width: 152px;*/
}

.divAddEditModal{
	padding: 10px;
	background: #F2F2F2;
}

.divAddEditModal .z-combobox, .divAddEditModal .z-textbox{
	margin-right: 30px;
}