
/* STATUS*/
.view-background {
	background: #F2F2F2;
	/*padding: 20px;*/
	overflow: auto;
	min-height: 600px;
/* 	overflow: visible; */	
}

.normal-status-layout {
	background: white;
	overflow: auto;
	/*min-height: 150px;
	max-height: 200px;*/
	height: 250px;
	border: 1px solid #DDD;
	margin: 20px;
	padding: 0px;
}

.big-status-layout {
	background: white;
	overflow: auto;
	min-height: 300px;
	/*height: 100%;*/
	border: 1px solid #DDD;
	margin: 20px;
	padding: 0px;
}

.status-layout-title {
	background-color: rgb(255, 210, 227);
    overflow: auto;
    padding: 5px 10px;
}

.status-sublayout-title {
	background-color: transparent;
    overflow: auto;
    padding: 5px 10px;
    border-bottom: 1px solid #AAA;
}

.status-layout-title-font {
	color: #666 !important;
	font-weight: bold;
	font-size: 15px !important;
}

.status-sublayout-title-font {
	color: #666 !important;
	/*font-weight: bold;*/
	font-size: 13px !important;
}

.vertical-boxes {
	float: left;
	margin-right: 40px;
	margin-top: 5px;	
}

.vertical-boxes-titles {
	font-weight: bold;
/*     text-decoration: underline; */
}

.marginTop {
	margin-top: 10px;
}

.paddingNormal {
	padding: 10px;
}

.overflow {
	overflow: auto;
}

/**************** BUTTONS *********************/

.z-button-actions {
   	background: transparent;
 	border: none;
 	font-size: 13px !important;
 	color:#757575;
 	text-shadow: 0px 0px;
 	border-radius: 0px;
 	width: 20px;
 	white-space: normal;
}
.z-button-actions:hover {
	background: transparent;
    color: #757575;
}
.z-button-actions:focus {
	background: transparent;
    color: #757575;
	box-shadow: none;
}
.z-button-actions:active {
	background: transparent;
    color: #757575;
}
.z-button-actions[disabled] {
	background: transparent !important;
	border-color: transparent !important;
}


.z-button-menu {
   	background: transparent;
 	border: none;
 	font-size: 13px !important;
 	color:white;
 	text-shadow: 0px 0px !important;
 	border-radius: 0px;
 	width: 100%;
 	height: 100%;
 	white-space: normal;
}
.z-button-menu:hover {
	background: transparent;
    color: #757575;
    text-shadow: 0px !important;
    background-color: rgb(255, 123, 172);
}
.z-button-menu:focus {
	background: transparent;
    color: #757575;
	text-shadow: 0px !important;
	box-shadow: none;
}
.z-button-menu:active {
	background: transparent;
    color: #757575;
	text-shadow: 0px !important;
}
.z-button-menu[disabled] {
	background: transparent !important;
	border-color: transparent !important;
	text-shadow: 0px !important;
	color: #757575;
}

.z-listheader-content {
	font-size: 11px !important;
}
.z-listcell-content {
	font-size: 11px !important;
}

.z-button-info{
    /* normal style */
    color: #323286;
 	background: transparent;
 	border: none;
 	font-size: 20px !important;
 	height: 0;
	
    /* hover style */
    &:hover {
    }
    /* focus style */
    &:focus {
    }
    /* active style */
    &:active {
    }
    /* disabled style */
    &[disabled] {
    background: transparent !important;
    border-color: transparent !important;
    }	
}

.divSBRTable{
    position: absolute;
    background: #e8e1e1;
    z-index: 1;
    text-align: left;
    width: 700px;
}

.separar *{
	margin: 5px;
}

.contenedor{
	display: flex;
	flex-wrap: wrap;
}

.z-groupbox>.z-groupbox-header .z-caption-content{
	margin-left: 5px;
}

/***********************************************************/

.contenedorFila{
  	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-around;
 }
 .contenedorFilaIzquierda{
	align-content: stretch;
  	display:flex;
	flex-direction:row;
	width: 100%; 
 }
.patientFileBox{
	flex: 0.5;
	background: white!important;
	padding: 10px;
} 
 .gynaecologicBox{
	flex: 0.2;
	background: white!important;
	padding: 10px;
	
}

.physicalExplorationBox{
	flex: 0.25;
	background: white!important;
	padding: 10px;
	
}
 /******** GRID SIN BORDES, NI FONDO, NI NADA *****************/
 
.statusGridSinNada{
	border: none!important;
}

.statusGridSinNada .z-grid{
	border: none!important;	
}

.statusGridSinNada .z-grid-header {
    background: none;
    border: none!important;
}

.statusGridSinNada table{
	border: none!important;
}

.statusGridSinNada .z-column{
	background: none;
	border: none!important;
}

.statusGridSinNada .z-column-content{
	font-size: 12px;
    color: #666666;
    font-weight: bold;
    position: relative;
    white-space: initial;
    overflow: visible;
}

.statusGridSinNada .z-row *:not([class="redYes"]),
.statusGridSinNada .z-row *:not([class="rectanguloSi"]),
.statusGridSinNada .z-row *:not([class="rectanguloNo"]),
.statusGridSinNada .z-row *:not([class="etiquetasL"])
{
	font-size: 16px;
	color: #000000;
	font-weight: initial;
}

.statusGridSinNada tr.z-row td.z-row-inner, .statusGridSinNada tr.z-row .z-cell, .statusGridSinNada div.z-grid { 
	border: none; 
	overflow: hidden; 
	zoom: 1; 
	background:transparent; 
	border-top: none; 
	border-left: none; 
	border-right: none; 
	border-bottom: none; 
} 

.statusGridSinNada .z-row:hover{
	border: none; 
	overflow: hidden; 
	zoom: 1; 
	background:transparent; 
	border-top: none; 
	border-left: none; 
	border-right: none; 
	border-bottom: none; 
}

.sinFondo{
	background: transparent!important;
}

.statusGridSinNada .z-grid-odd:not([class="sinFondo"]){
	background:#F2F2F2;	
}
 
.valorSlider{
	font-size: 30px!important;
	color: #000000;
}

.slider{
	width:165px;
	height:20px;
	display:table;
}

.slider .contenido{
	height:inherit;
	display:inline-block;
	vertical-align:bottom;
}

.rectangulo{
	width:20px;
	height:20px;
	cursor: auto;
	display: inline-block;	
    vertical-align: middle;
}

.activo{
	background: #3db8db;	
	transition: 0.2s;
}

.inactivo{
	background: #F2F2F2;
	transition: 0.2s;
}

/*.rectanguloSi{
	background: #3db8db;
	color: #3db8db!important;
	width: 30px;
}

.rectanguloNo{
	background: #F2F2F2;
	color: #F2F2F2!important;
	width: 70px;
}*/

.redYes{
	color: #FF3300!important;
}

.imagenRadio{
	width: 100%;
	height: 100%;
}

.mediaFila{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

.comboLesiones{
	margin-left: 10px!important;
}

.comboLesiones .z-input{
	font-size: 16px!important;
 	color: #000000;
}

[class^="z-icon-caret"] {
	line-height: 20px;
	margin-left: 3px	
}

.caretBlue{
	font-size: 25px!important;
	font-weight: bold!important;
	color: #3DB8DB!important;	
}

.caretGreen{
	font-size: 25px!important;
	font-weight: bold!important;
	color: #008000!important;	
}

.caretRed{
	font-size: 25px!important;
	font-weight: bold!important;
	color: #ff0000!important;	
}

/*******************************/
.textbox-num{
	text-align: right;
	width: 40px;
}
.btn-add-history{
	background: rgba(61, 184, 219, 0.8) !important;
    border-color: transparent !important;
    box-shadow: none!important;
    color: white!important;
    margin-top: 20px;    
}

.editAddHistory1{
	background: #F2F2F2;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.editAddHistory2{
	background: #F2F2F2;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.editAddHistory3{
	background: #F2F2F2;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

.alinearIzquierda{
	text-align: left;
}

.tituloGridImportante{
	font-size: 14px!important;
    color: #666666!important;
    font-weight: bold!important;
}

.tituloGrid{
	font-size: 12px!important;
    color: #666666!important;
    font-weight: bold!important;
}


.textYesColor{
/*	color: green!important;*/
	font-weight: bold;
}
.textDefaultColor{
	color: #949494!important;
	font-weight: normal;
}

.newHistoryLink{
	color: rgb(61, 184, 219);
	cursor: pointer;
	font-size: 14px!important;
}

.z-combobox{
	margin-right: 0px;
}

/******************* Ventana modal ***************/

/*
.miModal{
	margin: 0 auto;	
	width: 50%;
	height: 50%!important;
	top: 20%;
}
*/

.miModal .titulo{
	font-size: 38px;
}

.miModal .modal-body{
/*	background: #F2F2F2;*/
}

.miModal .modal-footer{
	text-align: left;
}

.miModal .combo{
/*	width: 152px;*/
}

.divAddEditModal{
	padding: 10px;
	background: #F2F2F2;
}

.divAddEditModal .z-combobox, .divAddEditModal .z-textbox{
	margin-right: 30px;
}/***  PERSONAL AND FAMILY HISTORY ************/
.columnHistory{
	padding: 10px;
}

.historiesBox{
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
}

.historiesHeader{
/*	background:#969999;*/
	background:#F2F2F2;
	color: black;
	height: 25px;
	padding-left: 15px;
}

.historiesHeader label{
	background:#969999;
	color: white;
	margin-top: 5px;
}

.historiesHeader button, .historiesHeader button:hover{
	border: none;
	background:#969999;
	color: white;	
}

.lista .z-listheader-content{
	font-size: 12px!important; /*10px!important;*/
	background: white!important;
	font-size: 12px;
    color: #666666;
    font-weight: bold;
}

.lista .z-listheader{
	background: none!important;
	border: none;
}

.lista .z-combobox-input, .lista .z-textbox{
	font-size: 16px!important;
	color: #000000;
	font-weight: initial;
}

.lista .z-listbox-odd{
	background:white;	
}

.lista .z-listbox:hover{ /*-odd:not([class="sinFondo"]){*/
	background:white;	
}



/*** RISK FACTORS ********************/

.padding30{
	padding-right: 30px;
}


/* Sobreescrito de views  */
/*.contenidoh3{
	padding-left: 5%;
	padding-right: 5%;
}
*/

.contenedor{
	display: flex;
	justify-content: space-between;
}

.contenedorCol{
	display: flex;
	justify-content: space-around;
	flex:wrap;
	align-content: space-around;
	
}


 .acordeonBlue{
 	background: rgb(239, 248, 250)!important;
 }
 
.formulario{
/*  width:100%; */
	margin-bottom: 10px;
}

/*
.formulario .z-textbox{
	 margin-left: 17px;
}
*/

.z-button-table {
    /* normal style */
 	background: transparent;
 	border: none;
 	font-size: 12px !important;
 	height: 0;
 	color: rgba(61, 184, 219, 0.8) !important;

    /* hover style */
    &:hover {
    }
    /* focus style */
    &:focus {
    }
    /* active style */
    &:active {
    }
    /* disabled style */
    &[disabled] {
    background: transparent !important;
    border-color: transparent !important;
    }
}

.gridSinNada .z-button [class*="z-icon-"]{
	color: #3DB8D7!important;
}	

.z-checkbox-content{
    padding-left: 5px;
	margin-right: 0px;
}

.radioIsh {
	padding-left: 5px; display: inline-block; vertical-align: top;	
}

.radioYesNo .z-checkbox:first-of-type{
	margin:0px;
}

.radioYesNo .lblPorciento{
	padding: 4px 0px 0px 5px;
}

.divInmuno .formulario {
	width: 100%;
}


.z-textbox {
    color: #1e1e1e !important;
    font-size: 1em !important;
}