<?page title="FHIR TEST"?>

<zk xmlns:n="native">

<style src="bootstrap/css/bootstrap.min.css" />
	<style src="css/views.css"/>
 	<style src="css/comite.css"/>
 	<style src="css/status.css"/>

<div apply="com.desiree.HapiFhirTestClient.HapiFhir">

<n:div id="wrapper" class="all-height">

	<div id="divContainer" class="view-background all-height">

	<div class="row">
		<div class="col-md-4">
			<div id="vlGeneralData" >
				<div class="barrah3 anchoTotal">
					<label value="General data" class="h3 anchoTotal"/>
				</div>
				<div class="contenidoh3">
					<div class="row formulario">
						<label value="Name" class="etiquetasL16 col-xs-6"/>
						<textbox id="txtName" class="miTextbox col-xs-6"/>
					</div>
					<div class="row formulario">
						<label value="Family" class="etiquetasL16 col-xs-6"/>
						<textbox id="txtFamily" class="miTextbox col-xs-6"/>
					</div>
					<div class="row formulario">										
						<label value="Birthdate" class="etiquetasL16 col-xs-6"/>
						<datebox id="dbBirthdate" />
					</div>
					<div class="row formulario">										
						<label value="Sex" class="etiquetasL16 col-xs-6"/>
						<radiogroup id="rgSex" orient="horizontal">
							<radio label="Female" checked="true"/>
							<radio label="Male"/>
						</radiogroup>
					</div>
					<div class="row formulario">
						<label value="Assigned area" class="etiquetasL16 col-xs-6"/>
						<textbox id="txtAssignedArea" class="miTextbox col-xs-6" />
					</div>
					<div class="row formulario">										
						<label value="Socioeconomical status" class="etiquetasL16 col-xs-6"/>
						<textbox id="txtSocioEconomicalStatus" class="miTextbox col-xs-6" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">									
			<div id="vlFamilyHistory" >
				<div class="barrah3 anchoTotal">
					<label value="FAMILY HISTORY" class="h3 anchoTotal"/>
				</div>							 						
					<div class="contenidoh3">
					<div id="familyHistoryCancer" class="">
							
						<grid id="grid3" class="gridSinNada" sizedByContent="true" width="320px" visible="true">
							<columns>
										<column width="170px" align="left">
									<label value="CANCER" class="tituloGridImportante"/><label value=" LOCATION" class="tituloGrid"/>
								</column>  
						        <column width="100px" label="RELATIVE" align="left" />
						        <column width="50px" label="AGE" align="right" />										
							</columns>
							<rows id="rows3">
							</rows>
						</grid>
						<button id="btnEditHistory3" label="Edit or remove" class="newHistoryLink" visible="true"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">									
			<div id="vlRiskFactors" >
				<div class="barrah3 anchoTotal">
					<label value="RISK FACTORS" class="h3 anchoTotal"/>
				</div>		 						
					<div class="contenidoh3">	 					
	
					<grid id="gridRiskFactors" class="gridSinNada" fixedLayout="true" style="border:0px" height="100%" visible="true">
						<columns>
							<column width="89%"/>
							<column width="11%"/>
							<column width="0px"/>
						</columns>
						<rows id="rowsRiskFactors">												

		                </rows>					                        
	                </grid>
	                
	                <div width="100%" style="text-align: center;">
						<button id="btnOtherRiskFactors" label="Add or remove risk factors" class="newHistoryLink"/>
	                </div>				                				
				</div>
			</div>	
		</div>
	</div>
	
	
	<div class="row">
		<button id="btnBundle" label="Send Data" style="background: rgba(61, 184, 219, 0.8) none repeat scroll 0 0 !important;
		    border-color: transparent !important;
		    box-shadow: none !important;
		    color: white !important;
		    font-size: 16px !important;
		    height: 30px;
		    min-width: 80px; margin-left:50px; margin-top:20px;"/>		
	</div>
	
	
	<div class="row" style="margin-top:50px;">
		<div class="col-md-6">
			<label value="XML Message"/>
			<textbox id="tbXML" multiline="true" rows="50" width="100%"/>
		</div>
		<div class="col-md-6">
			<label value="JSON Message"/>
			<textbox id="tbJSON" multiline="true" rows="50" width="100%"/>
		</div>
	</div>
	
	
	</div>


</n:div>

</div>

</zk>